# Полный логин Яндекса (login@yandex.ru или login@домен для Яндекс 360)
YANDEX_CALDAV_EMAIL=login@yandex.ru
# Пароль приложения для Календаря (НЕ основной пароль аккаунта)
# Выписать: https://id.yandex.ru/security/app-passwords -> "Календарь"
YANDEX_CALDAV_KEY=xxxxxxxxxxxxxxxx
# Режим: readonly (по умолчанию) или write. В readonly тулы записи не регистрируются вообще
YANDEX_CALDAV_MODE=readonly
# Необязательные
YANDEX_CALDAV_URL=https://caldav.yandex.ru
YANDEX_CALDAV_TZ=Europe/Moscow
YANDEX_CALDAV_TIMEOUT=30
